<a href="https://colab.research.google.com/github/RyuHyunJung/BP_10_Ch6/blob/main/BP22_06_221107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(2, 101):       # 2에서 100까지의 숫자를 볂한한다.
  if i%2==0 :                 # i%2 == 0 i는 짝수 
    print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
year = 0
balance = 1000

while balance <= 2000 :
  year = year + 1
  interest = balance * 0.07
  balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [ ]:
n = 1234
sum = 0
while n > 0 :
  digit = n % 10           # %는 나머지, //는 나눗셈에서 몫
  sum = sum + digit
  n = n // 10
print(sum)

10

In [ ]:
ans = 0
while ans != 3*9:              # 어떤 조건이 만족될 때까지 반복하는 것은 while 루프
  ans = int(input("3*9는"))

print("맞았습니다.")

3*9는8
3*9는9
3*9는27
맞았습니다.

In [ ]:
sum = 0
while True:
  x = int(input("정수를 입력하시오: "))
  if x == 0:
    break;
  sum = sum + x

print("합은 ", sum, "입니다.")

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 0
합은  6 입니다.

In [ ]:
from random import randint

for i in range(3) :        # 3번 빈복한다.
  d1 = randint(1, 6)       # 1부터 6 사이의 난수를 발생한다.
  d2 = randint(1, 6)
  print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 6 두번째 주사위= 4
첫번째 주사위= 5 두번째 주사위= 5
첫번째 주사위= 4 두번째 주사위= 4

In [ ]:
import turtle          # 터틀 그래픽 모듈을 불러온다.

t = turtle.Turtle()
t.shape("turtle")
t.left(90)

for i in range (1,7):
  t.forward(100)
  t.forward(-30)
  t.left(60)
  t.forward(30)
  t.forward(-30)

  t.right(120)
  t.forward(30)
  t.forward(-30)

  t.left(60)
  t.forward(-70)
  t.left(60)

In [ ]:
import turtle

myPen = turtle.Turtle()
myPen.speed(0)
myPen.color("#FF0000")

for j in range (1, 10):
  for i in range (1, 6):
    myPen.left(144)
    myPen.forward(200)
  myPen.left(10)

In [ ]:
import turtle            # 터틀 그래픽 모듈을 불러온다.
import random            # 난수 모듈을 불러온다.

t = turtle.Turtle()
t.shape("turtle")

for j in range (1, 10):
  t.up()
  x = random.randint(-200, 200)            # -200부터 200 사이의 정수 난수를 발생한다.
  y = random.randint(-200, 200)
  r = random.randint(10, 200)
  t.goto(x, y)
  t.down()
  t.circle(r)

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")

for i in range(5):
  t.forward(200);
  t.right(90)
  t.forward(20);
  t.right(90)
  t.forward(200);
  t.left(90)
  t.forward(20);
  t.left(90)

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')         # 거북이 펜의 색상을 변경한다.
t.begin_fill()                   # 채워진 다각형을 시작한다.
while True:
  t.forward(200)
  t.left(170)
  if abs(t.pos()) < 1:
    break
t.end_fill()                     # 채워진 다각형을 닫는다.

In [ ]:
import turtle
import math

t = turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')

for x in range(0, 360):
  t.goto(x,200*math.sin(x*3.14/180))